@charset "utf-8";

#main {
	width: 1000px;
	margin: auto;
}

#main_top {
	margin-top: -10px;
}

#main_left {
	float: left;
	width: 760px;
}

#main_left_top {
	margin-top: 10px;
}

dl {
	float: left;
	width: 178px;
	height: 430px;
	margin: 5px;
	overflow: hidden;
}
  
dl dd {
	margin: 5px 0px;
	overflow: hidden;
}

#main_left_bottom {
	float: left;
	padding-top: 10px;
}

#main_left_bottom a {
	margin-top: 10px;
	float: left;
}

#main_right {
	float: right;	
	width: 230px;
}

#main_right a img {
	display: block;
	margin: 10px 0px;
	width: 100%;
}

#main_bottom {
	clear: both;
	padding-top: 10px;
}