<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zy.employee.dao.TrainMapper">
	
	<select id="getById" resultType="Train" >
		select * from train where id=#{id};
	</select>
	
	<select id="getByUId" resultType="Train">
		select * from train where uid=#{uid};
	</select>
	
	<select id="getByTitle" resultType="Train" >
		select * from train where title=#{title};
	</select>
	
	<select id="getAllTrain" resultType="Train">
		select * from train;
	</select>
	
	<insert id="insertTrain">
		insert into `train`(`title`,`createTime`,`context`,`uid`,`status`) 
		values (#{title},#{createTime},#{context},#{uid},#{status});
	</insert>
	
	<update id="updateTrain">
		update `Train`
		<set>
			<if test="title != null and title !=''">
				`title`= #{title},
			</if>
			
			<if test="createTime != null and createTime !=''">
				`createTime`= #{createTime},
			</if>
			
			<if test="context != null and context !=''">
				`context`= #{context},
			</if>
			
			<if test="uid != null and uid !=''">
				`uid`= #{uid},
			</if>
			
			<if test="status != null and status !=''">
				`status`= #{status},
			</if>
		</set>
		 where `id`=#{id};
	</update>
	
	<delete id="deleteTrain">
		delete from Train where id=#{id};
	</delete>
	
</mapper>
